.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.navbar_name .navbar_link {
    text-decoration: none;
}

.navbar_name {
    color: var(--primary);
    font-size: 20px;
}

.navbar_containerLinks {
    display: flex;
    gap: 10px;
}

.navbar_link {
    color: var(--dark-gray);
    font-size: 25px;
    padding: 5px;
    position: relative;
}

.navbar_link span {
    background-color: var(--primary);
    font-size: 17px;
    color: white;
    height: 25px;
    aspect-ratio: 1;
    font-weight: bold;
    position: absolute;
    right: -3px;
    bottom: -5px;
    display: grid;
    place-content: center;
    border-radius: 50%;
}


@media (min-width: 550px) {
    .navbar_containerLinks {
        gap: 40px;
    }
    
    .navbar_link {
        font-size: 30px;
        padding: 8px;
    }
} 